@import "vars";

.button {
  padding: 12px 24px;
  background: $green;
  color: $white;
  border-radius: 4px;
  border: 1px solid $green;
  font-weight: 600;
  cursor: pointer;
  display: block;
  width: fit-content;
}

.button_outline {
  background: $white;
  color: $green;
}

@media screen and (min-width: $desktop-breakpoint) {
  .button {
    padding: 16px 36px;
  }
}